<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <div class="head">
        <h1 class="hh"><a href="">AI.DOCTOR</a></h1>
        <ul>
            <li>About us</li>
            <li>Log-in</li> 
            <li>Home</li>
                
        </ul><br><br><br><br><br><br><br>
        
        <h1 class="con">Hello, </h1>
        <h1 class="con">From Ai Doctor</h1>
        <div class="btn1"><button class="btn-hover color-3"><a href="get_.html">Get started</a></button>
            <button class=" btn-hover three">Sign-in</button></div>
        
        
    </div>
    
    <div class="img">
        
        <img src="robo.png" alt="">

    </div>
    <div class="mid">
      
    </div>

    <div class="last">
        <form action="" method="post">
            <label for="">Upload file</label>
            <input type="file"> <br>
           <!-- <br><button class="btn-hover color-3"> <input type="submit" style="mix-blend-mode: multiply; border: none;"></button> -->
        </form>
        <!-- <py-script src="main.py"> </py-script> -->
    </div>

    <div class="container">
        <button class="btn btn-primary mx-auto my-4 d-block btn-hover color-3" id="diceBtn">Sumbit</button>
        <div class="txtContainer d-flex justify-content-center">
            <h1 class="text-center mx-2 p-2" id="dice1txt"></h1>
            <h1 class="text-center mx-2 p-2" id="dice2txt"></h1>
            <h1 class="text-center mx-2 p-2" id="dice3txt"></h1>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>